<!doctype html>

<html>
<head>
	<title>Categories</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="css/add.css" rel="stylesheet">
    <!--script src="js/appName.js"></script-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
     <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-header">
                     <a class="navbar-brand">
                        <form method="get" action="/index" style="display:inline-block;">
                            <button type="submit" class="btn btn-sm white" style="margin-right: 5px">
                        </form>
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </button>Categories</a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/account">Account</a></li>
                        <li><a href="/setting">Settings</a></li>
                        <li><a href="/help">Help</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

  <div class="container">
    <!--<div class="row">-->
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img class="img-rounded" src="http://s16.postimg.org/djog7lpt1/groceries2.jpg" alt="">
          <div class="caption text-center">
            <h3>Groceries</h3>
              <form method="get" action="/addGrocery" style="display:inline-block;">
                <button type="submit" class="btn btn-primary btn-lg" id="groceryadd-btn">Add Savings</button>
                  <div class="clearfix"></div>
              </form>
          </div>
        </div>
      </div>   
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img class="img-rounded" src="http://s16.postimg.org/qei75rjz9/clothes.jpg" alt="">
          <div class="caption text-center">
            <h3>Clothes</h3>
              <form method="get" action="/addClothes" style="display:inline-block;">
                <button type="submit" class="btn btn-primary btn-lg" id="groceryadd-btn">Add Savings</button>
                  <div class="clearfix"></div>
              </form>
          </div>
        </div>
      </div>   
    <!--</div><!--row2-->

    <!--<div class="row">-->
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail clearfix">
          <img class = "img-rounded" src="http://s12.postimg.org/qqchfip8d/foodnbev2.jpg" alt="...">

          <div class="caption text-center">
            <h3>Restaurants</h3>
            <form method="get" action="/addFood" style="display:inline-block;">
              <button type="submit" class="btn btn-primary btn-lg" id="groceryadd-btn">Add Savings</button>
                <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div> 
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail clearfix">
          <img class = "img-rounded" src="http://s14.postimg.org/82kkgle81/cash.jpg" alt="...">
          <div class="caption text-center">
            <h3>Other Savings</h3>
            <form method="get" action="/addOthers" style="display:inline-block;">
              <button type="submit" class="btn btn-primary btn-lg" id="groceryadd-btn">Add Savings</button>
                <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div> 
    <!--</div><!--row1-->

  </div><!--container-->

    <!--<script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>-->
    <script src="js/addCategories-show.js"></script>
    <script src="js/color-show.js"></script>
    {{> googleAnalytics}}
</body>
</html>