<!doctype html>

<html>
<head>
	<title>Add Other Savings</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="css/add.css" rel="stylesheet">
    <!--script src="js/appName.js"></script-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript">
        var username = "";
        var password = "";
        var goal = "";
        var saving = "";
        var needs = "";
    </script>
    <!--script src="../data.json"></script-->
    <script src="../routes/login.js"></script>
            
</head>

<body>
    
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-header">
                      <a class="navbar-brand">
                        <form method="get" action="/addCategories" style="display:inline-block;">
                            <button type="submit" class="btn btn-default btn-sm">
                        </form>
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </button>Add savings</a> 
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/account">Account</a></li>
                        <li><a href="/setting">Settings</a></li>
                        <li><a href="/help">Help</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="col-xs-12">
          <div class = "show">
            <div class="addSavings">
              <center>
              <h1>Other Savings</h1>
              <form id = "savingsForm" class="form-inline">
                 <div class="form-group">
                  <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                 <div class="input-group">
                 <div class="input-group-addon">$</div>
                 <input type="text" class="form-control" id="inputAmount" placeholder="Savings Amount">
                 <div class="input-group-addon">.00</div>
                 </div>
                 </div>
                 <button type="button" class="btn btn-primary" id="saving-btn" onclick="addSaving()">Add Savings</button>
              </form>

              </center>
            </div>
            </div>
          <hr>
          <div class="row">
          <div id ="confirmAlert" class="alert alert-warning hidden">
      
               <strong></strong> 
               <!--<div class="pull-right">-->
                 <p class="text-right">
                   <a class="btn btn-warning " href="#" role="button" data-dismiss="alert" aria-label="close">Cancel</a>
                   <a class="btn btn-success" href="#" role="button" onclick='submit("{{username}}")'>Submit</a>
                 </p>
               <!--</div>-->
              
          </div>
          </div>
          <div id="successAlert" class="alert alert-success fade in hidden col-xs-12">
            <strong> You added cash!</strong> Must add actual amount in update.
          </div>
          <div id="warningAlert" class="alert alert-danger fade in hidden col-xs-12">
            <strong> Please enter a numerical amount.</strong>
          </div>
        
        </div>
    
    <!--<script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>-->
    <script src="js/add-show.js"></script>
    <a href="/"></a>
</body>
</html>
