<!doctype html>

<html>
<head>
	<title>Help</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="css/add.css" rel="stylesheet">
    <!--script src="js/appName.js"></script-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>



     <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    
                    <div class="nav-header">
                      <a class="navbar-brand">
                        <form method="get" action="/index" style="display:inline-block;">
                            <button type="submit" class="btn btn-sm white vertAlign" style="margin-right: 5px">
                        </form>
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </button> Help</a> 
                    </div>
                </div>
            </div>
        </nav>


    <div class="container" style="text-shadow: 0px 2px 3px #222;">
        <h1>Help</h1>
        <hr class="lines2">
        <br>
        <h3>What is SuperSavr?</h4>
        <p>     SuperSavr is a mobile web application that helps you keep track of your daily cash savings, and the items you're saving up for.</p>
        <p>SuperSavr keeps track of whatever you're saving for, and when you're ready to buy, we'll send you straight to checkout!</p>
        <hr class="lines2"><br>
        <h3>How do I use it?</h4>
        <p>     From the homepage, you can "Add Savings", or view your "Stats" and "Goals".</p><br><hr class="lines2">
    </div>   

  <script src="js/color-show.js"></script>
</body>
</html>