<!doctype html>

<html>
<head>
	<title>Help</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="css/add.css" rel="stylesheet">
    <!--script src="js/appName.js"></script-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>



     <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    
                    <div class="nav-header">
                     <a class="navbar-brand" href="/index" id="appLogo">SuperSavr</a>
                    </div>
                </div>
            </div>
        </nav>


    <div class="container">
        <h1>Help</h1>
        <br>
        <h4>What is SuperSavr?</h4>
        <p>     SuperSavr is a mobile web application helps you to keep track of your daily cash savings, and you can view your goals and stats anytime!</p>
        <p>You can also search in this app to find the items you'd like to buy using your savings right away!</p>
        <hr>
        <h4>How to use it?</h4>
        <p>     At the homepage, you can "Add a saving", view your "Stats" and "Goals"</p>
    </div>   


</body>
</html>