<!doctype html>

<html>
<head>
	<title>Help</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="css/add.css" rel="stylesheet">
    <!--script src="js/appName.js"></script-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>



     <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    
                    <div class="nav-header">
                     <a class="navbar-brand" href="/index" id="appLogo">SuperSavr</a>
                    </div>
                </div>
            </div>
        </nav>


    <div class="container">
        <h1>Setting</h1>
        <br>
        <center>
        <button type="button" class = "btn btn-default btn-lg">Random Theme!</button>
        </center>
    </div>   


</body>
</html>