<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--script src="js/appName.js"></script-->
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<title>SuperSavr</title>

</head>
    
<body>
      <div class="col-xs-12">
                <center>
                    <h3>Congradulations {{username}}!</h3>
                    <h5>You have successfully became a member of SuperSavr!</h5>
                    <br>
                    <h4> Login to start saving!</h4>
                    <td>
                        <div class="btn-group-2" role="group" aria-label="...">
                            <form method="get" action="/" style="display:inline-block;">
                                <button type="submit" class="btn btn-default btn-lg" id="goal-btn">Login</button>
                            </form>
                        </div>
                    </td>
                </center>
        </div>
</body>
</html>