.hidden {
  display: none !important;
  visibility: hidden !important;
}

.padd{
    padding-top: 20px;
}


.horizpadd{
	padding-left:20px;
	padding-right:20px;
}



.top-buffer{
 margin-top:20px; 
}

.btn-success, .btn-warning{
    margin-left: 5px;
     width: 5em;
    height: 2em;
}

.thumbnail img
{

}

html {
    height: 100%;
}
body {
    /*height: 100%;
    margin: 0;*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}