.hidden {
  display: none !important;
  visibility: hidden !important;
}

.padd{
    padding-top: 20px;
}


.horizpadd{
	padding-left:20px;
	padding-right:20px;
}



.top-buffer{
 margin-top:20px; 
}

.btn-success, .btn-warning{
    margin-left: 5px;
     width: 5em;
    height: 2em;
}

.thumbnail {
   position: relative; 
   height: 100%; /* for IE 6 */
}

.thumbnail input{
    float: left;
    max-width:100%;
    max-height:100%;
}

.thumbnail h3 {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 150px;
  font-size: 15vw;
}

html {
    height: 100%;
}
body {
    /*height: 100%;
    margin: 0;*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #CDD2D4;
}


/*for settings page, sorry bad style...*/
#colorBtn{
  margin-top:20px;
  color: #FFF;
    border-color: #424242;
    background: -moz-linear-gradient(top,  #424242 50%, #212121 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#424242), color-stop(50%,#212121)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424242 50%,#212121 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424242 50%,#212121 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424242 50%,#212121 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #424242 50%,#212121 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}

hr.big{
  height: 20px;

}

#submitBtn{
  color: #FFF;
  border-color: #424242;
    background: -moz-linear-gradient(top,  #424242 50%, #212121 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#424242), color-stop(50%,#212121)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424242 50%,#212121 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424242 50%,#212121 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424242 50%,#212121 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #424242 50%,#212121 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#212121',GradientType=0 ); /* IE6-9 */  

}

.white{
  color: #9E9E9E;
  background-color: #121212;
}

.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

#editbtn{
    color: #FFF;
    border-color: #424242;
    background: -moz-linear-gradient(top,  #424242 50%, #212121 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#424242), color-stop(50%,#212121)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424242 50%,#212121 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424242 50%,#212121 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424242 50%,#212121 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #424242 50%,#212121 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#212121',GradientType=0 ); /* IE6-9 */	

}

