.hidden {
  display: none !important;
  visibility: hidden !important;
}

.padd{
    padding-top: 20px;
}


.horizpadd{
	padding-left:20px;
	padding-right:20px;
}



.top-buffer{
 margin-top:20px; 
}