#savings-btn{
	margin-top: 20px;
	color: #FFF;
	border-color: #424242;
 background: -moz-linear-gradient(top,  #424242 50%, #212121 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#424242), color-stop(50%,#212121)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424242 50%,#212121 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424242 50%,#212121 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424242 50%,#212121 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #424242 50%,#212121 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#212121',GradientType=0 ); /* IE6-9 */	
}

#goalbtn{
	color: #FFF;
	border-color: #424242;
    background: -moz-linear-gradient(top,  #424242 50%, #212121 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#424242), color-stop(50%,#212121)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424242 50%,#212121 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424242 50%,#212121 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424242 50%,#212121 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #424242 50%,#212121 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#212121',GradientType=0 ); /* IE6-9 */	

}

#statsbtn{
    color: #FFF;
    border-color: #424242;
    background: -moz-linear-gradient(top,  #424242 50%, #212121 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#424242), color-stop(50%,#212121)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424242 50%,#212121 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424242 50%,#212121 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424242 50%,#212121 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #424242 50%,#212121 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#212121',GradientType=0 ); /* IE6-9 */	

}

#newgoalbtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:24px 48px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
#newgoalbtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
#newgoalbtn:active {
	position:relative;
	top:1px;
}



.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}


h3{
	font-family: 'Oswald', sans-serif;
}

h1 {font-family: 'Helvetica Neue', sans-serif; font-weight: bold; text-align: center; }

body{
	background: #CDD2D4;
}

hr.lines{
width: 24%;
margin-bottom:0;

margin-left: auto;
margin-right: auto;
background-color:#f3f6db;
color:#f3f6db;
}

hr.lines2{
width: 24%;

margin-left: auto;
margin-right: auto;
background-color:#f3f6db;
color:#f3f6db;
}